@import url("https://fonts.googleapis.com/css?family=Roboto:400,600&display=swap");

:root {
  font-size: 62.5%;
  font-family: "Roboto";
}

body {
  @apply text-16 leading-none;
}

:active {
  -webkit-tap-highlight-color: transparent;
}

::-ms-clear {
  display: none;
}

button:focus,
:focus {
  outline: none;
}
