<template>
  <div class="flex flex-col items-center justify-center p-26">
    <h1 class="text-26 mb-10">Current EURRUB exchange rate</h1>
    <p>1 EUR = {{ rates.EUR.toFixed(2) }} RUB</p>
  </div>
</template>

<script>
import ExchangeRate from "./lib/exchanges";
import { EXCHANGE_UPDATE_RATE } from "./constants";

const exRate = new ExchangeRate("EUR", "RUB");

export default {
  name: "App",
  data() {
    return {
      rates: {
        EUR: 0
      }
    };
  },
  async created() {
    this.updateRate();
    setInterval(this.updateRate, EXCHANGE_UPDATE_RATE);
  },
  methods: {
    async updateRate() {
      this.rates.EUR = await exRate.getCurrentRate();
    }
  }
};
</script>

<style lang="postcss">
@import "./assets/css/styles.css";
</style>
